/*
  These colors all come from Tachyons.
  They are within the `$colors` set so we can iterate through them.
*/

$colors: (
  $black: #000,
  $near-black: #111,
  $dark-gray:#333,
  $mid-gray:#555,
  $gray: #777,
  $silver: #999,
  $light-silver: #aaa,
  $moon-gray: #ccc,
  $light-gray: #eee,
  $near-white: #f4f4f4,
  $white: #fff,

  black-90: $black-90,
  black-80: $black-80,
  black-70: $black-70,
  black-60: $black-60,
  black-50: $black-50,
  black-40: $black-40,
  black-30: $black-30,
  black-20: $black-20,
  black-10: $black-10,
  black-05: $black-05,
  black-025: $black-025,
  black-0125: $black-0125,

  white-90: $white-90,
  white-80: $white-80,
  white-70: $white-70,
  white-60: $white-60,
  white-50: $white-50,
  white-40: $white-40,
  white-30: $white-30,
  white-20: $white-20,
  white-10: $white-10,
  white-05: $white-05,
  white-025: $white-025,
  white-0125: $white-0125,

  dark-red: $dark-red,
  red: $red,
  light-red: $light-red,
  orange: $orange,
  gold: $gold,
  yellow: $yellow,
  light-yellow: $light-yellow,
  purple: $purple,
  light-purple: $light-purple,
  dark-pink: $dark-pink,
  hot-pink: $hot-pink,
  pink: $pink,
  light-pink: $light-pink,
  dark-green: $dark-green,
  green: $green,
  light-green: $light-green,
  navy: $navy,
  dark-blue: $dark-blue,
  blue: $blue,
  light-blue: $light-blue,
  lightest-blue: $lightest-blue,
  washed-blue: $washed-blue,
  washed-green: $washed-green,
  washed-yellow: $washed-yellow,
  washed-red: $washed-red
);

/*
  Create class names from all the above colors
  used for backgrounds and text color.

  Example:
  .bg-washed-blue {
    background: $washed-blue;
  }

  .washed-blue {
    color: $washed-blue;
  }
*/
@each $color in $colors {
  .bg-#{$color} {
    background: $color;
  }

  .#{$color} {
    color: $color;
  }
}